.container-test-essa {
width: 100%;
height: auto;
background-color: gray;
}

.component-main-fragment {
    display: block;
    position: relative;
    height: 100%;
    padding-top: 1%;
    &-inner {
        display: flex;
        flex-direction: column;
        height: 100%;
    }
}