.signuppage {
    
    &-container{
        display: block;
        position: relative;
        height: 85vh;
        border: 2px solid black;
        width: 100%;

    }
    &-inner {
        display: flex;
        flex-direction: row;
        height: 100%;
        width: 100%;
        justify-content: center;
        align-items: center;
    }
   

}

.image-container {
   height: 100%;
   width: 50%;
}

.component-signup-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    padding: 0rem 4rem 0rem 4rem;
}


